
<div class="access"></div>
<div class="container">
    <div class="jumbotron mt-0">
      <h1>Welcome</h1>
      <h2>Project I Bases II</h2>
    </div>
    
    <div class="panel panel-primary">
        <div class="access"></div>
        <div class="panel-heading">Connect to a server</div>
        <div class="access"></div>
        <div class="panel-body">

            <div class="form-outline mb-3">
                <input type="text" id="text1" class="form-control form-control-lg" placeholder="Server adress"/>
            </div>

            <div class="form-outline mb-3">
                <input type="text" id="text2" class="form-control form-control-lg" placeholder="Database name"/>
            </div>

            <div class="form-outline mb-3">
                <input type="text" id="text3" class="form-control form-control-lg" placeholder="Username"/>
            </div>

            <div class="form-outline mb-3">
                <input type="password" id="text3" class="form-control form-control-lg" placeholder="Password"/>
            </div>
            <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-secondary btn-rounded" data-mdb-ripple-color="dark">Enter</button>
            </div>
            <div class="access"></div>
        </div>
    </div>
    
</div>
